/* место для вашего кода */
.header {
  flex-shrink: 0;
  margin: 92px 49px 92px 51px;
  color: #000;
  font-size: 18px;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}

.header__menu {
  margin: 43px 0 45px 0;
}

.header__menu-list {

  list-style: circle;
  stroke-width: 1px;
  stroke: #000;
  width: 387px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-underline-offset: 5px;
}

.header__menu-list .header__menu-item-major {
  list-style: none;
}

.header__logo-img {
  
  width: 148px;
  height: 105px;
  flex-shrink: 0;
  margin-right: 146px;
}

.info__menu {
  width: 240px;
  height: 24px;
  flex-shrink: 0;
  margin: 5px 0 7px 0px;
  
}

.address {
  font-size: 18px;
  font-weight: 400;
  line-height: 135%;
  font-style: normal;
  text-underline-offset: 5px;
  text-decoration-thickness: 1px;
}

.cover {
  position: relative;
  z-index: 0;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 165px 50px 50px 50px;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, .6);
}


.cover__title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.accent-span {
  color: white;
  text-transform: uppercase;
  font-size: 100px;
  line-height: 105px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.letter-spacing {
  letter-spacing: 30px;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.cover__description {
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  font-style: normal;
  line-height: 28px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 78px;
  margin-top: 135px;
}

.cover__description-text {
  word-spacing: 18px;
}

.bet-button {
  background: transparent;
  border: 1px solid #FFF;
  padding: 11px 26px;
  margin: 11px 26px;
}



.lots {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 180px 50px 181px;
  
  min-height: 100%;
}

.lots__heading {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-left: 40px;
  margin-bottom: 27px;
}

.lots__card-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.lots__card-list-item {
  flex-grow: 1;
  flex-basis: 430px;
  width: 100%;
}

.card {
  position: relative;
  z-index: 0;
  min-height: 450px;
  padding: 50px 40px;
  color: rgb(255, 255, 255, 1);
  font-style: normal;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  flex-basis: auto;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-size:cover;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-size: cover;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  background-size: cover;
}

.card__title {
  font-size: 22px;
  font-weight: 700;
  text-decoration-line: underline;
  text-transform: uppercase;
  line-height: 120%;
}

.card__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 120%; /* 24px */
}

.lots__look-more-link {
  font-size: 20px;
  margin: 30px 0 2px 40px;
}

.about {
  padding: 0 50px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 25px;
  margin-bottom: 180px;
}

.logo__circle {
  width: 240px;
  height: 240px;
  flex-shrink: 0;
  border-radius: 150px;
  background-color: #000;
  padding: 63px 46px;
}

.logo__column {
  padding: 0 95px;
  display: flex;
  justify-content: center;
}

.about__heading {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.about__column {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 100px;
}

.about__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 25px;
}

.about__text-item {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer {
  padding: 0 50px 90px 50px;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.footer__menu-list {
  list-style: none;
  text-align: center;
}

.footer__social-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 48px;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}